* {
  box-sizing: border-box !important;
}

body {
  background-color: black;
}

.hero-image {
  height: 80vh;
  text-shadow: 2px 2px 3px black;
  background-image: linear-gradient(
      180deg,
      rgba(1, 0, 11, 1) 0%,
      rgba(60, 60, 71, 0.4) 30%,
      rgba(0, 0, 0, 1) 100%
    ),
    url("../../Img/Hero-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-image .text-center {
  font-size: 3.3em !important;
}
.hero-image p {
  font-size: 1.5rem !important;
  text-align: center;
}

.hero-text {
  width: 433px;
}

.card {
  height: 300px;
}

.card-img-top {
  width: 100%;
  height: auto;
}

.card-img-top:hover {
  opacity: 0.8;
  transition: 0.3s;
}

.img-scale {
  transform: scale(2);
}
.img-movedY {
  width: 180% !important;
  transform: translate(-90px, 0px);
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

/* custom style Scrollbar modal */
.modal::-webkit-scrollbar {
  display: none;
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Add Animation - Zoom in the Modal */
.modal-content {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* close button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-width: 990px) {
  .hero-image {
    padding: 0 40px !important;
  }

  .hero-text {
    width: 300px;
  }

  .card-img-top {
    width: 100% !important;
  }

  .card {
    height: auto !important;
  }
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}
